.banner-hero{
    height: 300px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-heading{
    color: #fff;
    font-size: 5rem;
    font-weight: 400;
    text-transform: capitalize;
}
