.banner-hero{
    height: 400px;
    padding: 184px;
    text-align: center;

    .hero-heading{
        margin-bottom: 14px;
        color: #fff;
        font-size: 5rem;
        letter-spacing: 2px;
    }
}